<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Select Business Type</title>

<style>

body{
background:#020617;
color:white;
font-family:Arial;
padding:25px;
}

.container{
max-width:500px;
margin:auto;
}

h1{
text-align:center;
}

.card{
background:#111827;
border-radius:20px;
padding:25px;
margin-top:20px;
text-align:center;
font-size:20px;
border:1px solid #334155;
}

a{
text-decoration:none;
color:white;
}


.card:hover{
background:#2563eb;
}


</style>

</head>


<body>

<div class="container">

<h1>
Choose Your Business
</h1>


<a href="/signup?type=ONLINE_SHOP">
<div class="card">
🛒
<br>
Online Shop
</div>
</a>


<a href="/signup?type=2D_SELLER">
<div class="card">
🎲
<br>
2D Seller
</div>
</a>



<a href="/signup?type=BEAUTY_SALON">
<div class="card">
💇
<br>
Beauty Salon
</div>
</a>



<a href="/signup?type=MINI_MART">
<div class="card">
🏪
<br>
Mini Mart
</div>
</a>



<a href="/signup?type=SERVICE_REPAIR">
<div class="card">
🛠
<br>
Service
</div>
</a>



</div>

</body>
</html>
