<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>Suppliers - Business OS</title>

<link rel="stylesheet" href="/static/app.css">

</head>


<body>


<div class="container">

<h1>🚚 Suppliers</h1>


<div class="card">


<table width="100%">


<thead>

<tr>

<th>Name</th>
<th>Phone</th>

</tr>

</thead>


<tbody id="supplierList">

</tbody>


</table>


</div>


<a href="/dashboard">
⬅ Dashboard
</a>


</div>



<script>


async function loadSuppliers(){


const token =
localStorage.getItem("access_token");



const res =
await fetch(

"/api/v4/business/suppliers",

{

headers:{

"Authorization":
"Bearer "+token

}

}

);



if(!res.ok){

console.log(await res.text());
return;

}



const data =
await res.json();



const list =
document.getElementById(
"supplierList"
);



data.suppliers.forEach(s=>{


list.innerHTML += `

<tr>

<td>${s.name}</td>

<td>${s.phone ?? ""}</td>

</tr>

`;

});


}



loadSuppliers();



</script>


</body>

</html>
